{% extends "base.html" %}

{% block content %}
    <h1>Automobilio informacija</h1>
    <p><strong>Valstybinis numeris:</strong> {{ automobilis.valstybinis_nr }}</p>
    <p><strong>Modelis:</strong> {{ automobilis.automobilio_modelis }}</p>
    <p><strong>Savininkas:</strong> {{ automobilis.klientas }}</p>
    <p><strong>Aprašymas:</strong> {{ automobilis.aprasymas|safe }}</p>

    {% if automobilis.nuotrauka %}
        <p><strong>Nuotrauka:</strong></p>
        <img src="{{ automobilis.nuotrauka.url }}" alt="Automobilio nuotrauka" style="max-width: 400px; height: auto;">
    {% else %}
        <p>Nuotrauka nepridėta.</p>
    {% endif %}
{% endblock %}
